:host {
    flex: 1;
    display: flex;
}

.content {
    padding: 20px;
}

button {
    height: 58px;
}

.controls-container {
    justify-content: space-between;
}

.pages-indicator {
    align-self: center;
}

.actions-panel {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;

    > :not(:last-child) {
        margin-right: 10px;
    }
}

.sales-table {
    height: 100%;
}

::ng-deep .input > * {
    padding-bottom: 0 !important;
}
