:host {
    flex: 1;
    display: flex;
}

.content {
    padding: 20px;
}

.controls-container {
    justify-content: space-between;
}

.pages-indicator {
    align-self: center;
}

.actions-panel {
    display: flex;
    margin-bottom: 20px;

    > * {
        margin-right: 10px;
    }
}

.sales-table {
    height: 100%;
}
