<div fxFlexFill class="content mat" fxLayout="column">
    <div class="controls-container" fxLayout="row">
        <div class="actions-panel" fxLayout="row">
            <button mat-raised-button color="primary" (click)="openUploadDialog()">Import Sales Records</button>
            <button mat-raised-button color="primary" (click)="openModifyDialog()">Modify</button>
            <button mat-raised-button color="primary" (click)="deleteTransaction()">Delete</button>
        </div>
        <div class="actions-panel" fxLayout="row">

            <button mat-raised-button color="primary" (click)="onPrevPageClick()" *ngIf="page > 1">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div class="pages-indicator">
                Page {{page}} of {{totalPages}}
            </div>

            <button mat-raised-button color="primary" (click)="onNextPageClick()" *ngIf="hasNext">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>


    <ag-grid-angular
        #agGrid
        class="ag-theme-alpine sales-table"
        [rowData]="salesRecords"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
    >
    </ag-grid-angular>
</div>




